<ion-view title="list">
  <ion-header-bar class="bar-stable">
    <h1 class="title">Electrician</h1>
  </ion-header-bar>
  <ion-content class="has-header">
    <div class="main-list-container">
        <div class="list">
          <a class="item item-thumbnail-left custom-item-border" href="#">
            <img class="custom-img-list" src="../img/blank_profile_pic.jpg">
            <h2>Pitamber Dada</h2>
            <p class="custom-margin">within 5kms</p>
            <p class="custom-margin">(+91)999999999</p>
            <p class="custom-margin"> Available <span class="ion-ios7-circle-filled custom-available ">&nbsp</span></p>
          </a>
      </div>
    </div>
  </ion-content>
</ion-view>

